html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: "Lato", sans-serif;
  /* font-family: 'Bebas Neue', cursive; */
  justify-content: center;
  width: 100%;
}

textarea {
  font-family: "Lato", sans-serif;
}

input {
  font-family: "Lato", sans-serif;
}

select {
  font-family: "Lato", sans-serif;
}

/* nav menu start */

.nav-menu {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  position: fixed;
  align-items: center;
  align-content: center;
  transition: 0.6s;
  background: #ffffff;
}
.nav-menu > .menu-container {
  width: 90%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  align-content: center;
  transition: 0.6s;
  background: #ffffff;
}

.nav-menu > .menu-container > .left-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-menu > .menu-container > .left-column > .logo {
  margin: auto;
  margin-left: 30px;
}

.nav-menu > .menu-container > .left-column > .links-menu {
  margin: auto;
  margin-left: 30px;
}
.nav-menu > .menu-container > .left-column > .links-menu > a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-menu > .menu-container > .right-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav-menu > .menu-container > .right-column > .login-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 50px;
  width: 100%;
  text-align: center;
}

.nav-menu > .menu-container > .right-column > .login-section > .login {
  margin-right: 10px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  width: 100px;
  height: 20px;
  text-align: center;
  margin: auto;
  margin-right: 5px;
  margin-left: 10px;
  padding: 5px;
}
#registrar {
  background-color: antiquewhite;
}

.nav-menu > .menu-container > .right-column > .login-section > .login > a {
  text-decoration: none;
  color: black;
  text-align: center;
}

/* nav menu ends */

/* section banner Start */

section {
  width: 100%;
}

section > .banner {
  width: 100%;
  background-color: aquamarine;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
}

section > .banner > .text-banner > h1 {
  font-size: 40px;
  margin-top: 300px;
}

section > .banner > .start-proyect {
  margin-top: 200px;
  border-radius: 4px;
  border-style: solid;
  width: 150px;
  margin: auto;
}

section > .banner > .start-proyect a {
  text-decoration: none;
  color: black;
  padding: 5px;
  display: flex;
}

/* section banner ends */

/* que es section start */

.que_es {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 80px;
}

.que_es > .left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.que_es > .left-section > .title-innova-zero > h1 {
  font-size: 40px;
}
.que_es > .right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
#ocultar {
  visibility: hidden;
}

#learn-more {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: deepskyblue;
  width: 100px;
  padding: 5px;
  text-align: center;
}

#learn-more > a {
  text-decoration: none;
  margin: auto;
  color: deepskyblue;
}

/* que es section ends */

/* picture and text start */

.picture-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 300px;
  margin: auto;
}
.picture-text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.picture-text > .picture-text-container > .picture-text-image {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.picture-text > .picture-text-container > .picture-text-image > img {
  width: 100%;
  height: auto;
  margin: auto;
}

.picture-text > .picture-text-container > .picture-text-text {
  width: 100%;
  margin: auto;
  color: black;
  text-align: left;
  justify-content: center;
  padding: 85px;
}

/* picture and text end */

/* como funciona start */

.como-funciona {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.como-funciona > .como-funciona-text {
  margin: auto;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.como-funciona > .mini-images {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.como-funciona > .mini-images > .picture-mini-image {
  margin: 20px;
}
.como-funciona > .mini-images > .picture-mini-image > img {
  width: 180px;
  height: auto;
}

/* como funciona ends */

/* contact us start */

.contact-us {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.contact-us > .left-column {
  justify-content: center;
  width: 100%;
  text-align: center;
  margin: auto;
}

.contact-us > .left-column > h4 {
  font-size: 30px;
}

.contact-us > .right-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin: auto;
}

.contact-us > .right-column > .join-boton {
  justify-content: center;
  width: 100px;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  background-color: aqua;
}

.contact-us > .right-column > .contact-boton {
  justify-content: center;
  width: 100px;
  text-align: center;
  padding: 5px;
  margin-left: 10px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  background-color: coral;
}

.contact-us > .right-column > .contact-boton > a {
  text-decoration: none;
  color: black;
}

.contact-us > .right-column > .join-boton > a {
  text-decoration: none;
  color: black;
}
/* contact us ends */
